@font-face {
  font-family: "Ansage";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Ansage"), url("/fonts/ansage/ansage-regular.otf") format("otf");
}

@font-face {
  font-family: "Ansage";
  font-style: bold;
  font-weight: 600;
  font-display: swap;
  src: local("Ansage"), url("/fonts/ansage/ansage-bold.otf") format("otf");
}

@font-face {
  font-family: "Ansage";
  font-style: bolder;
  font-weight: 700;
  font-display: swap;
  src: local("Ansage"), url("/fonts/ansage/ansage-xbold.otf") format("otf");
}
